In [1]:
import pandas as pd
import numpy as np

In [2]:
dirty =  pd.read_excel("ENC_Wrecks.xlsx")
#dirty.head

#23.5N to 50N and 60 to 100W 

dirty = dirty.loc[dirty["latdec"] > 23.5]
dirty = dirty.loc[dirty["latdec"] < 50]
dirty = dirty.loc[dirty["londec"] < - 60]
dirty = dirty.loc[dirty["londec"] > - 100]
dirty = dirty[dirty["depth"].notna()]
dirty = dirty.loc[dirty["watlev"] != "always dry"]
dirty = dirty.drop(columns=["recrd", "vesslterms", "yearsunk", "sounding_type"])
display(dirty)

,feature_type,chart,latdec,londec,gp_quality,depth,history,quasou,watlev
314,"Wrecks - Submerged, dangerous","US,US,graph,H12654",30.274047,-88.173775,NaN,2.1,NaN,least depth known,always under water/submerged
315,"Wrecks - Submerged, dangerous","US,US,graph,H12654",30.254497,-88.180567,NaN,1.7,NaN,least depth known,always under water/submerged
324,"Wrecks - Submerged, dangerous","US,US,graph,Chart 11378",30.262149,-87.825211,NaN,0.9,NaN,least depth known,always under water/submerged
325,"Wrecks - Submerged, dangerous","US,US,graph,chart 11378",30.317592,-87.516820,NaN,4.2,NaN,least depth known,always under water/submerged
330,"Wrecks - Submerged, dangerous","US,US,graph,H-11623",30.335780,-88.101081,NaN,2.1,NaN,least depth known,always under water/submerged
...,...,...,...,...,...,...,...,...,...
11365,"Wrecks - Submerged, nondangerous","US,US,graph,H-12893",33.138060,-78.346580,NaN,25.4,NaN,least depth known,always under water/submerged
11366,"Wrecks - Submerged, dangerous","US,US,graph,FE-00679",33.405189,-77.712152,NaN,20.3,NaN,least depth known,always under water/submerged
11367,"Wrecks - Submerged, nondangerous","US,US,graph,W00290",33.393833,-77.878381,NaN,21.9,NaN,NaN,always under water/submerged
11368,"Wrecks - Submerged, nondangerous","US,US,graph,FE-00679",33.283805,-77.831113,NaN,21.8,NaN,least depth known,always under water/submerged
11412,"Wrecks - Submerged, dangerous","US,US,graph,Chart 11013",25.098645,-77.332783,NaN,4.5,Wrecks,value reported (not confirmed),always under water/submerged

In [7]:
awois_df = pd.read_excel("AWOIS_Wrecks.xlsx")
awois_df = awois_df.loc[awois_df["LATDEC"] > 23.5]
awois_df = awois_df.loc[awois_df["LATDEC"] < 50]
awois_df = awois_df.loc[awois_df["LONDEC"] < - 60]
awois_df = awois_df.loc[awois_df["LONDEC"] > - 100]
awois_df = awois_df[awois_df["DEPTH"].notna()]
awois_df = awois_df.loc[awois_df["FEATURE_TYPE"] != "Not Charted"]
#awois_df = awois_df[awois_df["YEARSUNK"].notna()]
awois_df

c:\Users\mihir\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC,GP_QUALITY,DEPTH,SOUNDING_TYPE,YEARSUNK,HISTORY
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,18.0,Feet and tenths,NaN,F00542: S-W904-NRT4-07; Office review indica...
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,26.0,Feet and tenths,NaN,H11689/2007-- S-w920-NRT4-07; Dangerous sub...
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,32.0,Feet and tenths,NaN,H11689/2007-- S-W920-NRT4-07; A large subme...
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,22.0,Feet and tenths,NaN,H11689/2007-- S-W920-NRT4-07; A submerged w...
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,34.0,Feet and tenths,NaN,CL 1883/1999-- The Canadian Hydrographic Se...
...,...,...,...,...,...,...,...,...,...,...
6200,3076,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",35.500172,-75.866289,Poor,0.0,NaN,NaN,03076_x000D_\nHISTORY_x000D_\nCL1868/75--DNAGE...
6201,3077,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",35.360175,-75.729611,Poor,0.0,NaN,NaN,03077_x000D_\nHISTORY_x000D_\nLNM27/72--DANGER...
6203,2835,EA,"Wreck - Submerged, nondangerous",34.433500,-76.469639,Low,0.0,NaN,NaN,_x000D_\n DESCRIPTION_x000D_\n 195 LORAN-C RAT...
6205,2838,NAECO (STERN),"Wreck - Submerged, nondangerous",34.058011,-76.571447,High,98.0,Feet and tenths,NaN,SURVEY REQUIREMENT COMMENTS_x000D_\n INVESTI...
6220,14917,USS VIRGINA,"Wreck - Submerged, nondangerous",35.019290,-75.285944,Med,103.0,Feet and tenths,1923.0,American Battleship of WWI vintage sunk during...